<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.com.ezen.mapper.MemberMapper">

<insert id="insertMember">
INSERT INTO MEMBER VALUES(#{id}, #{name}, #{phone}, #{address})
</insert>

<select id="selectMemberList" resultType="kr.com.ezen.dto.MemberVO">
SELECT * FROM MEMBER ORDER BY id
</select>

</mapper>