<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.com.mapper.MemberMapper">

<insert id="insertMember">
INSERT INTO MEMBER VALUES(#{userId}, #{name}, #{password}, #{phone}, #{address})
</insert>

<delete id="deleteMember">
DELETE FROM MEMBER WHERE userId = #{userId}
</delete>

</mapper>